<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.CountDao">
  <resultMap id="BaseResultMap" type="com.accp.pojo.Count">
    <id column="count_id" jdbcType="INTEGER" property="countId" />
    <result column="money" jdbcType="REAL" property="money" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="employee_id" jdbcType="INTEGER" property="employeeId" />
  </resultMap>
  <sql id="Base_Column_List">
    count_id, money, year, month, department_id, employee_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_count
    where count_id = #{countId,jdbcType=INTEGER}
  </select>
  
  <!-- 查询年度报表 -->
  <select id="selectGroupyear" resultMap="BaseResultMap">
  	SELECT SUM(money) AS money,year FROM tb_count GROUP BY YEAR
  	
  </select>
  
  <!-- 查询月度报表 -->
  <select id="selectGroupyearAndmonth" resultMap="BaseResultMap">
  	SELECT SUM(money) AS money,year,month FROM tb_count GROUP BY MONTH,YEAR
  </select>
  
  <!-- 根据年份查询 -->
  <select id="selectByyear" resultMap="BaseResultMap">
  	SELECT * FROM tb_count WHERE YEAR=#{year} GROUP BY department_id
  </select>
  
  <!-- 根据年份和月份查询 -->
  <select id="selectByyearAndmonth" resultMap="BaseResultMap">
  	SELECT * FROM tb_count WHERE YEAR=#{year} AND MONTH=#{month} GROUP BY department_id
  </select>
  
</mapper>